{% extends "plantilla.html" %}
{% block content %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Lecturas</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  
  <!-- Main contenido principal   -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <table class="table">
            <thead>
              <tr>
                <th>Ubicacion</th>
                <th>Fecha Hora</th>
                <th>Sensor1</th>
                <th>Sensor2</th>
                <th>Sensor4</th>
                <th>Sensor5</th>
              </tr>
            </thead>
            <tbody id="contenido">
                 
              
            </tbody>
          </table>
        </div>
</div>
</div><!-- /.container-fluid -->
</div><!-- /.content -->
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<!--script src="plugins/jquery/jquery.min.js"></!--script-->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<!--script-- src="plugins/bootstrap/js/bootstrap.bundle.min.js"></!--script-->
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<!--script src="static/js/adminlte.min.js"></!--script-->
<script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
<script>
$(document).ready(function(){
  // 1 - agregar las lecturas 
  $.ajax({
       url: '/buscar_lectura',
       type: 'POST',
       success: function(response) {
           $.each(response, function(p,parada)
           {
             var a= parada.toString();
             var coordenadas = a.split(","); 
             $('#contenido').append(`<tr><td>${coordenadas[1]}</td><td>${coordenadas[3]}</td><td>${coordenadas[2]}</td><td>${coordenadas[4]}</td><td>${coordenadas[5]}</td><td>${coordenadas[6]}</td></tr>`);
           });//fin each
           console.log(response);
       },
       error: function(error) {
           console.log(error);
       }
   });
});

</script>
{% endblock %}